body {
  background-image: url(../img/cork-board.jpg);
}

.polaroid {
  position: relative;
}

.polaroid:before {
  position: absolute;
  top: 118px;
  left: 132px;
  display: inline-block;
  width: 500px;
  height: 500px;
  margin-right: 5px;
  content: "";
  background: url(../img/joeexotic.jpg) no-repeat 0 0;
  /*background-size: 100%;*/
}

.polaroid:after {
  position: absolute;
  top: 10px;
  left: 200px;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-right: 5px;
  content: "";
  background: url(../img/red-pin.png) no-repeat 0 0;
  background-size: 100%;
}

/*#polaroid {

  display: block;
  margin: auto;
}*/

/*.polaroid:after {
  content: url(../img/joeexotic.jpg);
  position: absolute;
}*/



#joe {
  position: absolute;
  width: 638px;
  height: 638px;
  top: 118px;
  left: 132px;
}

/*#joe {

  display: block;
  /*margin: auto;*/
  /*top: 230px;
  left: 430px;
  width: 600px;
}*/*/








/*.pin{

}*/*/
